
.main{
    background: #fff;
    /* background: rgba(248, 248, 248, 0.364); */
    border-radius: 25px;
    margin-top: 4rem;
    
}
p{
    letter-spacing: 2px;
}
/* .text {
    margin-top: 20vh;
} */

.main_content {
    width: 700px;
    display: flex;
    justify-content: center;
    height: 50vh;
    align-items: center;
    
}

.main_title {
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 24px;
}

.left {
    display: flex;
    width: 680px;
    justify-content: center;
    height: 25vh;
    align-items: center;
    transition: 0.4s ease-in-out;
    
}
.left:hover {
    background: #0dbd7763;
    border-radius: 25px;
}
.left button {
    font-size: 28px;
    font-family: 'Roboto', sans-serif;
    width: 280px;
    height: 80px;
    border-radius: 15px;
    border: none;
    background: #11a66a;
    color: #fff;
    transition: 0.3s ease-in-out;
}


.left button:hover {
    background: #11a66a;
    width: 310px;
    height: 90px;
    font-size: 38px;
    /* border: 1px solid rgb(255, 29, 29);; */
}
.left button:focus {
    background: #fff;
    width: 310px;
    height: 90px;
    font-size: 38px;
    border: 1px solid #11a66a;
}
.right  {
    display: flex;
    width: 680px;
    justify-content: center;
    height: 25vh;
    align-items: center;
    transition: 0.4s ease-in-out;
}
.right:hover {
    background: rgba(0, 102, 255, 0.233);
    border-radius: 25px;
}
.right button  {
    font-size: 28px;
    font-family: 'Roboto', sans-serif;
    width: 280px;
    height: 80px;
    border-radius: 15px;
    border: none;
    background: #1564a6;
    color: #fff;
    transition: 0.3s ease-in-out;
}
.right button:hover {
    background: rgb(0, 89, 255);
    width: 310px;
    height: 90px;
    font-size: 38px;
}

@media all and (max-width: 1281px) {
    .main{
        margin-top: 10rem;
    }
    .main_title {
        font-size: 28px;
    }
}
@media all and (max-width: 821px) {
    .main_title {
        font-size: 28px;
    }
    h2{
        padding: 20px 0;
    }
    p{
        font-weight: bold;
    }
    .main_content {
        width: 700px;
        height: 40vh;
        margin-top: 20px;
    }
    .right, .left  {
        height: 25vh;
    }
    .left button {
        letter-spacing: 2px;
        font-size: 28px;
        font-weight: bold;
        width: 260px;
        height: 100px;
    }
    .left button:focus {
        background: #ffffff;
        width: 140px;
        height: 50px;
        font-size: 24px;
        border: 1px solid #11a66a;
        color: #11a66a;
    }
    .right button {
        letter-spacing: 2px;
        font-size: 28px;
        font-weight: bold;
        width: 260px;
        height: 100px;
    }

    .right button:focus {
        background: #ffffff;
        width: 140px;
        height: 50px;
        font-size: 24px;
        border: 1px solid #1564a6;
        color: #1564a6;
    }

}
@media all and (max-width: 769px) {
    .main_content {
        width: 600px;
        height: 55vh;
    }
    .left button {
        font-size: 24px;
        width: 260px;
        height: 70px;
    }
    .left button:focus {
        background: #ffffff;
        width: 270px;
        height: 75px;
        font-size: 28px;
        border: 1px solid #11a66a;
        color: #11a66a;
    }
    .right button {
        font-size: 24px;
        width: 260px;
        height: 70px;
    }
    .right button:focus {
        background: #ffffff;
        width: 270px;
        height: 75px;
        font-size: 28px;
        border: 1px solid #1564a6;
        color: #1564a6;
    }

}
@media all and (max-width: 426px) {
    .main_title {
        /* padding-top: .1px; */
        color: rgb(0, 0, 0);
        text-align: center;
        font-size: 20px;
    }
    h2{
        padding: 20px 0;
    }
    p{
        font-weight: bold;
    }
    .main_content {
        width: 350px;
        height: 30vh;
        margin-top: 20px;
    }
    .left button {
        font-size: 24px;
        width: 160px;
        height: 60px;
    }
    /* .left button:hover {
        background: #11a66a;
        width: 140px;
        height: 50px;
    } */
    .left button:focus {
        background: #ffffff;
        width: 140px;
        height: 50px;
        font-size: 24px;
        border: 1px solid #11a66a;
        color: #11a66a;
    }
    .right, .left  {
        height: 15vh;
    }
    .right button {
        font-size: 24px;
        width: 160px;
        height: 60px;
    }
    /* .right button:hover {
        width: 140px;
        height: 50px;
    } */
    .right button:focus {
        background: #ffffff;
        width: 140px;
        height: 50px;
        font-size: 24px;
        border: 1px solid #1564a6;
        color: #1564a6;
    }

}