/* *{
    font-family: 'Noto Sans KR', sans-serif;
}
.container {
    align-items: center;
    flex-direction: column;
    margin-top: 80px;
    display: flex;
    height: 400px;
    width: 900px;
    background: rgba(255, 0, 0, 0.131);
}
.container p {
    margin-top: 60px;
    font-size: 38px;
    color: rgb(255, 255, 255);
}
.container button {
    /* font-size: 38px; */
    /* background: blue; */
