
.container {
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
    display: flex;
    height: 400px;
    width: 900px;
    background: rgba(248, 248, 248, 0.364);
    border-radius: 15px;
    box-shadow: 1px 1px 10px rgb(0, 0, 0);
    transition: .5s ease-in-out;
}
.container  h1  {
    padding: 0 10px;
    margin-top: 10px;
    font-size: 38px;
    color: rgb(255, 255, 255);
    /* color: rgb(26, 201, 90); */
}
.container  p  {
    padding: 0 60px;
    margin-top: 60px;
    font-size: 38px;
    color: rgb(255, 255, 255);
}
.container button {
    font-size: 28px;
    width: 270px;
    height: 60px;
    background: rgb(140, 100, 221);  
    /* background: #ffffff; */
    border-radius: 15px;
    border: none;
  color: #fff;
  transition: .3s ease-in-out;
} 
.container button:hover {
    border: 2px solid rgb(140, 100, 221);
    background: rgba(255, 255, 255, 0.801);
    color: rgb(140, 100, 221);
} 


.text_container{
    /* background: black; */
    height: 350px;
}

.container button:hover {
    /* font-size: 30px; */
    

    /* box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db; */
}

@media all and (max-width: 821px) {
    .container {
        margin-top: 220px;
        height: 500px;
        width: 750px;
    }
    .container  h1  {
        padding: 0 10px;
        margin: 10px;
        font-size: 34px;
    }
    .container  p  {
        padding: 0 30px;
        margin-top: 20px;
        font-size: 34px;
        color: rgb(255, 255, 255);
        font-weight: 500;
    }
    .container button {
        width: 400px ;
        font-size: 34px;
    } 
    .container button:focus {
        border: 2px solid rgb(140, 100, 221);
        background: rgba(255, 255, 255, 0.801);
        color: rgb(140, 100, 221);
    } 
    /* .text_container{
        width: 400px;
        height: 300px;
    } */
}
@media all and (max-width: 769px) {
    .container {
        margin-top: 80px;
        display: flex;
        height: 400px;
        width: 650px;
    }
    .container  h1  {
        padding: 0 10px;
        margin: 10px;
        font-size: 28px;
    }
    .container  p  {
        padding: 0 60px;
        margin-top: 60px;
        font-size: 30px;
        color: rgb(255, 255, 255);
    }
    .container button:focus {
        border: 2px solid rgb(140, 100, 221);
        background: rgba(255, 255, 255, 0.801);
        color: rgb(140, 100, 221);
    } 
}
@media all and (max-width: 426px) {
    .container {
        margin-top: 180px;
        height: 400px;
        width: 360px;
    }
    .container  h1  {
        padding: 0 10px;
        margin: 10px;
        font-size: 28px;
    }
    .container  p  {
        padding: 0 30px;
        margin-top: 20px;
        font-size: 26px;
        color: rgb(255, 255, 255);
        font-weight: 500;
    }
    .container button {
        width: 300px ;
        font-size: 30px;
    } 
    .container button:focus {
        border: 2px solid rgb(140, 100, 221);
        background: rgba(255, 255, 255, 0.801);
        color: rgb(140, 100, 221);
    } 
    .text_container{
        width: 360px;
        height: 330px;
    }
}